<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:social="http://www.springframework.org/schema/spring-social"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/spring-social http://www.springframework.org/schema/social/spring-social-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    <bean name="signInAdapter" class="wad.spring.service.SignInAdapterImpl">
<!--        <constructor-arg name="userRegistry" ref="userRegistry" />-->
    </bean>
    
<!--    <bean class="org.springframework.social.connect.web.ConnectController">
     relies on by-type autowiring for the constructor-args 
    </bean>-->
    
    <bean class="wad.spring.controller.CustomConnectController">
<!--     relies on by-type autowiring for the constructor-args -->
    </bean>
    
    <bean class="org.springframework.social.connect.web.ProviderSignInController">

<!--    FOR LOCAL DEVELOPMENT:-->
<!--        <property name="applicationUrl" value="http://localhost:8080/shoo" />-->
<!--   FOR PRODUCTION:-->
        <property name="applicationUrl" value="http://shoo.herokuapp.com" />
        <property name="signUpUrl" value="/signup" />
    <!-- relies on by-type autowiring for the constructor-args -->
    </bean>

</beans>