<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/security 
            http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!-- osoitteiden rajoitus -->
    <http  use-expressions="true">
        <intercept-url pattern="/admin/**" access="hasRole('admin')" />
        <intercept-url pattern="/home/**" access="isAuthenticated()" />
        <intercept-url pattern="/connect/**" access="isAuthenticated()" />
        <intercept-url pattern="/social/**" access="isAuthenticated()" />
        <intercept-url pattern="/news/**" access="isAuthenticated()" />
        <intercept-url pattern="/info/**" access="isAuthenticated()" />
        <intercept-url pattern="/" access="isAuthenticated()" />
             
        <!-- näytä kirjautumislomake tarvittaessa -->
        <form-login login-page='/signin'/>
        <!-- mahdollisuus logouttiin, ohjaus logoutin jälkeen osoitteeseen /home -->
        <logout logout-success-url="/" />
    </http>
    
    <!-- käyttäjät kannasta -->
    <authentication-manager alias="am">
        <authentication-provider user-service-ref="wadUserDetailsService" />
    </authentication-manager>
</beans:beans>